.todo-item {
    list-style: none;
    font: 400 18px "Crimson", serif;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-top: #282e33 1px solid;
}

.todo-item:last-child {
    border-bottom: #282e33 1px solid;
}