.paginator-button {
    border: none;
    background-color: #4f7a9b;
    padding: 3px 5px;
    border-radius: 3px;
}

.theme-red .paginator-button {
    background-color: #7c3838;
}

.paginator-font {
    font: 500 18px "Crimson", sans;
}